{% extends 'belttracker/base.html' %}
{% load i18n %}
{% load humanize %}

{% block details %}

{% if perms.belttracker.mining_fc %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Actions</h3>            
        </div>
        <div class="panel-body" style="min-height: 100px;">  
	    <a href="/belttracker/reset" class="btn btn-success">{% trans "Reset all" %}</a>
        </div>
    </div>
{% endif %}

    <table class="table table-aa">
	    <thead>
		    <tr>
			    <th class="text-center">{% trans "System" %}</th>
			    <th class="text-center">{% trans "Belt name" %}</th>
			    <!-- <th class="text-center">{% trans "Estimated rocks" %}</th> -->
			    <th class="text-center">{% trans "Cleared" %}</th>
			    {% if perms.belttracker.mining_fc %}
				    <th class="text-center">{% trans "Action" %}</th>
			    {% endif %}
		    </tr>
	    </thead>
	    <tbody>
		    {% for belt in belts %}
		    	{% if belt.cleared %}
				<tr class="danger">
			{% else %}
				<tr class="success">
			{% endif %}
				<td class="text-center">{{ belt.system_name }}</td>
				<td class="text-center">{{ belt.belt_name }}</td>
				<!-- <td class="text-center">{{ belt.estimated_rocks }}</td> -->
				<td class="text-center">{{ belt.cleared }}</td>
				{% if perms.belttracker.mining_fc %}
					{% if belt.cleared %}
						<td class="text-center">
							<a href="/belttracker/reset/{{ belt.id }}" class="btn btn-success">{% trans "Reset" %}</a>
						</td>
					{% else %}
						<td class="text-center">
							<a href="/belttracker/clear/{{ belt.id }}" class="btn btn-danger">{% trans "Clear" %}</a>
						</td>
					{% endif %}
				{% endif %}
			</tr>
		    {% endfor %}

	    </tbody>
    </table>
    
{% endblock %}

{% block extra_javascript %}    
{% endblock %}

{% block extra_css %}    
{% endblock %}

{% block extra_script %}    
{% endblock %}
